<div class="container" id="i18_contribute">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="contribute">Call for Papers </span></h1>
        </div>
    </div>

<h1><strong>Selected Contributions</strong></h1>
<p>
  All the contributions will be presented during the workshop in <b>two different poster sessions</b>.
  The authors will provide an overview of their works during the <b>spotlight presentation session</b>.

<h1><strong>Poster Session 1 - Morning</strong></h1>
<ul>
  <li style = "color: #676a6c; font-size: 18px"> <a href="static/assets/img/papers/2019_IROS_Tactile_Localization_workshop_paper.pdf"> M. Bauza and A. Rodriguez, <b>Tactile Localization for unknown and known objects</b>.</a> </li>
    <li style = "color: #676a6c; font-size: 18px"> <a href="static/assets/img/papers/2019_IROS_WORKSHOP_AutonomousManipulation.pdf"> N. Doshi and A. Rodriguez, <b>Hybrid Differential Dynamic Programming for Planar Manipulation Primitives</b>.</a> </li>
    <li style = "color: #676a6c; font-size: 18px"> <a href="static/assets/img/papers/bowkett_iros_ws_auto_obj_manip.pdf"> J. Bowkett, J. Burdick, and R. Detry, <b>Visual Extraction Effort Estimation for Grasp Selection Among Unstructured Massime Objects</b>.</a> </li>
    <li style = "color: #676a6c; font-size: 18px"> <a href="static/assets/img/papers/_Long_Abstract__GRASPA.pdf"> F. Bottarel, G. Vezzani, U. Pattacini, and L. Natale, <b>GRASPA 1.0: GRASPA is a Robot Arm grasPing Performance benchmArk</b>.</a> </li>
    <li style = "color: #676a6c; font-size: 18px"> <a href="static/assets/img/papers/main.pdf"> C. Gabellieri, F. Angelini, V. Arapi, A. Palleschi, M. G. Catalano, G. Grioli, L. Pallottino, A. Bicchi, M. Bianchi, and M. Garabini, <b>Grasp It like a Pro: Grasp of Unknown Objects with Robotic Hands based on Skilled Human Expertise</b>.</a> </li>
</ul>

<h1><strong>Poster Session 2 - Afternoon</strong></h1>
<ul>
    <li style = "color: #676a6c; font-size: 18px"> <a href="static/assets/img/papers/Heuristic_Bejjani.pdf"> W. Bejjani, M. R. Dogar, and M. Leonetti, <b>Heuristic Learning for Look-Ahead Manipulation Planning in Continuous Action Space</b>.</a> </li>
    <li style = "color: #676a6c; font-size: 18px"> <a href="static/assets/img/papers/iros2019workshop.pdf"> G. Solak and L. Jamone, <b>Learning object-centric trajectories of dexterous hand manipulation tasks from demonstration</b>.</a> </li>
    <li style = "color: #676a6c; font-size: 18px"> <a href="static/assets/img/papers/Melnik_Tactile_Sensing.pdf"> A. Melnik, L. Lach, M. Plappert, T. Korthals, R. Haschke, and H. Ritter, <b>Tactile Sensing and Deep Reinforcement Learning for In-Hand Manipulation Tasks</b>.</a> </li>
    <li style = "color: #676a6c; font-size: 18px"> <a href="static/assets/img/papers/wbkmpc-manipulation.pdf"> J. Pankert and M. Hutter <b>Whole-Body Kinematic Model Predicitve Control for Continuous Mobile Manipulation Tasks</b>.</a> </li>
    <li style = "color: #676a6c; font-size: 18px"> <a href="static/assets/img/papers/hms_ransac_short.pdf"> Y. Peng, J. Huang, and M. Cakmak, <b>Horizontal Multi-Surface Random Sample Consensus for Robust Customizable Shelf Perception</b>.</a> </li>
</ul>




<br>
<p>
<h1><strong>Important Dates </strong></h1>
<ul>
    <li style = "color: #676a6c; font-size: 18px"> <strike> Paper submission opens: 15th of July 2019 </strike> </li>
    <li style = "color: #676a6c; font-size: 18px"> <strike> Deadline for paper submission: 22nd of September 2019 </strike></li>
    <li style = "color: #676a6c; font-size: 18px"> <strike> Review decisions released: 13rd of October 2019 </strike></li>
    <li style = "color: #676a6c; font-size: 18px"> <b> <strike> Deadline for camera ready: 21st of October 2019 </strike> </b> </li>
    <li style = "color: #676a6c; font-size: 18px"> <b> Deadline for presentation slides: 30th of October 2019 </b> </li>
    <li style = "color: #676a6c; font-size: 18px">Workshop: 4th of November 2019</li>
</ul>
</p>
</div>
<br>
