<div class="container" id="i18_contribute">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="contribute">Call for Papers </span></h1>
        </div>
    </div>

<h1><strong>Information for Authors</strong></h1>
<p>
All submissions must be in <u>PDF format</u>, following the  <a href="http://ras.papercept.net/conferences/support/support.php"> IEEE conference style </a> in <b>two-columns and be limited to 2 pages, including references and appendix</b>.  </p>

<p>
All submissions will be peer-reviewed. Accepted papers will be presented during the workshop in a poster session. A number of selected papers will be presented as oral presentations or spotlight talks.
</p>

<p>
Send your PDF manuscript by <u>email</u>, with the subject including the string <u>[MANIPULATION IROS 2019]</u>, to the following emails:
<ul>
    <li style = "color: #676a6c; font-size: 18px">giulia.vezzani[at]iit.it</li>
    <li style = "color: #676a6c; font-size: 18px">v.ortenzi[at]bham.ac.uk</li>
</ul>
</p>

<br>
<p>
<h1><strong>Important Dates </strong></h1>
<ul>
    <li style = "color: #676a6c; font-size: 18px"> <strike> Paper submission opens: 15th of July 2019 </strike> </li>
    <li style = "color: #676a6c; font-size: 18px"> <strike> Deadline for paper submission: 22nd of September 2019 </strike></li>
    <li style = "color: #676a6c; font-size: 18px"> <strike> Review decisions released: 13rd of October 2019 </strike></li>
    <li style = "color: #676a6c; font-size: 18px"> <b> Deadline for camera ready: 21st of October 2019 </b> </li>
    <li style = "color: #676a6c; font-size: 18px"> <b> Deadline for presentation slides: 30th of October 2019 </b> </li>
    <li style = "color: #676a6c; font-size: 18px">Workshop: 4th of November 2019</li>
</ul>
</p>
</div>
<br>
