<div class="container" id="i18_overview">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="overview">Overview</span></h1>
        </div>
    </div>

<p> The workshop  will be held on <b>4st of November 2019</b> in The Venetian Macao, Macau, China in the context of the IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS), one of the largest and highest impact robotics research conferences worldwide.</p>
<p>

    <p> <b>Manipulating objects autonomously</b> and in unstructured environments is one of the basic skills
    for robots to support people during everyday life outside industrial cages.

     The study of autonomous manipulation in robotics aims at transferring human-like
    perceptive skills to robots so that, combined with state of the art control techniques, they could be able to
    achieve similar performance in manipulating objects.
    </p>
    <p>
     The great complexity of this task makes autonomous
    manipulation one of the open problems in robotics that has been drawing a big interest in the community in
    the recent years. <b>Conventional approaches</b> attempt to reconstruct the scene using 3D vision and compute agrasping pose that attain force closure constraints, or by querying a database of precomputed or learned
    poses. More recently, grasping has been addressed using <b>end-to-end learning methods</b> showing great
    performance. However, these methods require robots to perform thousands of trials. For this reason their
    application is often focused on simple grippers and scenarios in which images are acquired from a top down
    view. Manipulation with multi finger hands and mobile robots is unfortunately still out of the scope of these
    techniques due to the problem complexity.</p>
</p>
<br>

<h1><strong>Objectives</strong></h1>


<p>
The aim of this workshop is to <b> discuss and present different techniques proposed for addressing the same
problem: object manipulation</b>.</p>

<p>
More than a comparison, this workshop is designed to <b>encourage people</b>
belonging to different research fields such as robotics and deep learning to <b>share their approaches, ideas and
problems regarding autonomous manipulation</b>.</p>

<br>
<h1><strong>Topics of interest</strong></h1>
<p>The following list provides a set of topics (keywords) addressed in the workshop.</p>
<ul>
<li style = "color: #676a6c; font-size: 18px">Unknown object grasping</li>
<li style = "color: #676a6c; font-size: 18px">Multimodal perception for manipulation</li>
<li>Deep Reinforcement Learning for manipulation</li>
<li>Supervised Learning for manipulation </li>
<li>Imitation Learning for manipulation</li>
<li>Visual processing for manipulation</li>
<li>Segmentation and modeling</li>
<li>Task-oriented grasping</li>
<li>Active Perception</li>
<li>Deep Learning for vision</li>
<li>Robotic vision</li>
<li>Tactile sensors</li>
<li>Grasp planning</li>
<li>Benchmarking and reproducibility</li>
</ul>
<p>&nbsp;</p>


</div>
<br>
