<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">


    </ol>
    <div class="carousel-inner" role="listbox">

        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                </div>
                <div class="carousel-image wow zoomIn">
                    <!-- <img src="static/img/landing/laptop.png" alt="laptop"/> -->
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div
            class="header-back"
            @media screen and (max-width: 767px) {
            style="background-image: url({{ '/static/assets/img/' | prepend: site.baseurl }}{{ site.data.index.banners[0].src }});"
            }
            @media screen and (max-width: 1200px) {
            style="background-image: url({{ '/static/assets/img/' | prepend: site.baseurl }}{{ site.data.index.banners_2[0].src }});"
            }
            title="{{ site.data.index.banners[0].title }}">
            </div>
        </div>

        <div class="item">
            <div class="container">
                <div class="carousel-caption">
                </div>
                <div class="carousel-image wow zoomIn">
                    <!-- <img src="static/img/landing/laptop.png" alt="laptop"/> -->
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back" style="background-image: url({{ "/static/assets/img/"  | prepend: site.baseurl }}{{
                @media screen and (max-width: 10px) {
                    site.data.index.banners[0].src }}}; @media screen and (max-width: 1200px) {
                        site.data.index.banners_2[0].src }});" title="{{ site.data.index.banners[0].title }}"
            </div>
        </div>

    </div>

</div>
